{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog Page</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- External CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/userhomepageStyle.css' %}"/>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- stuff in the first column gose here -->
      <div class="col-md-3 col-fixed border">
        <img src="{{ user.userprofile.picture.url }}" alt="img-fluid Profile Picture" class="Profile-pic rounded-circle mx-auto d-block">
        <p class="fw-bold">
          {% if user.is_authenticated %}
          {{ user.username }}
          {% else %}
          hey there partner!
          {% endif %}
        </p>


        <!-- nav buttons under the Profile-pic -->
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" href="landing" aria-selected="true"><i class="bi bi-house"></i> Home</a>
          <a class="nav-link" href="profile" aria-selected="false"><i class="bi bi-person-badge"></i> Profile</a>
          <a class="nav-link" href="create-post" aria-selected="false"><i class="bi bi-plus-circle"></i> Create</a>
          <a class="nav-link" href="social" aria-selected="false"><i class="bi bi-people-fill"></i> Social</a>
          <a class="nav-link" href="songs" aria-selected="true"><i class="bi bi-music-note"></i>Songs</a>
          <a class="nav-link" href="playlist" aria-selected="false"><i class="bi bi-music-note-list"></i> Playlist</a>
          <a class="nav-link" href="logout" aria-selected="false"><i class="bi bi-box-arrow-left"></i> Logout</a>
        </div>
      </div>
        
      <!-- stuff in the second column goes here -->
      <div class="col-md-9 col-scroll">
        <!-- search bar function -->
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>

        <!-- New type of post Card -->
        <div class="card mb-3 Post-card mx-auto">
          <div class="card-body">
            <h5 class="card-title">Username of the poster</h5>
            <p class="card-text"><small class="text-muted">Location and time</small></p>
          </div>
          <img src="https://via.placeholder.com/200" class="card-img-top .img-fluid" alt="...">
          <div class="card-body">
            <p class="card-text">Caption of the card</p>
            <div class="p-2"> 
              <button class="btn btn-outline-primary"><i class="bi bi-hand-thumbs-up"></i> Like</button>
              <button class="btn btn-outline-primary"><i class="bi bi-chat-dots"></i> Comment</button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</body>
</html>
