body
.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}


.card {
width: 500px; /* increase the width of the card */
padding: 100px; /* add padding to the card */
}
.form-group {
margin-bottom: 40px; /* increase the margin between form fields */
}

form h2{
    margin-bottom: 30px;
}