{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CreatePage</title>
  <!-- Bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- External CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/usercreatepageStyle.css' %}"/>
</head>
<body>
    
  <div class="container-fluid">
    <div class="row">
      <!-- stuff in the first column gose here -->
      <div class="col-md-3 col-fixed border">
        <img src="https://via.placeholder.com/200" alt="img-fluid Profile Picture" class="Profile-pic rounded-circle mx-auto d-block">
        <p class="fw-bold">Username</p>     
        <!-- nav buttons under the Profile-pic -->
         <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" href="landing" aria-selected="false">Home</a>
          <a class="nav-link" href="profile" aria-selected="false">Profile</a>
          <a class="nav-link active" href="create-post" aria-selected="true">Create</a>
          <a class="nav-link" href="social" aria-selected="false">Social</a>
          <a class="nav-link" href="playlist" aria-selected="false">Playlist</a>
          <a class="nav-link" href="logout" aria-selected="false">Logout</a>
        </div> 
      </div>
      <!--the right part: to upload photos and music-->
      
      <div class="col-md-9 col-scroll">
        <!-- choice of function -->
             <!-- location Bar-->
            <label class="col-sm-3 text-center">Type</label> 
            <div class="btn-group col-sm-7">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Photo/Music
                </button>
                <div class="dropdown-menu col-sm-11 text-center">
                  <button class="dropdown-item" type="button">Photo</button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item " type="button">Music</button>
                </div>
            </div> 
            <!-- upload function -->
            <div class="container"> 
              <div class="header"> 
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
                <path d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
              </div> 
              <label for="file" class="footer"> 
                <p>browse file to upload</p> 
              </label> 
            <input id="file" type="file"> 
            </div>
            
            <!-- Caption Bar-->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <p class="col-sm-3 text-align" >Caption: </p>
              </div>
              <input type="text" class="form-control" aria-label="Caption">
            </div>
            <!-- location Bar-->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <p class="col-sm-3 text-align" >Location:</p>
              </div>
              <input type="text" class="form-control" aria-label="location">
            </div>   
            <!--submit button-->
            <button type="submit" class="btn btn-primary">submit</Inp></button>  
      </div>
  </div>
  </div>     
</body>
</html>