{% extends 'musicial/base.html' %}
{% load staticfiles %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/usercreatepageStyle.css' %}"/>
{% endblock %}

{% block nav_block %}
        <!-- nav buttons under the Profile-pic -->
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" href="{% url 'musicial:landing' %}" aria-selected="true"><i class="bi bi-house"></i> Home</a>
          <a class="nav-link" href="{% url 'musicial:profile' %}" aria-selected="false"><i class="bi bi-person-badge"></i> Profile</a>
          <a class="nav-link active" href="{% url 'musicial:create-post' %}" aria-selected="false"><i class="bi bi-plus-circle"></i> Create</a>
          <a class="nav-link" href="{% url 'musicial:social' %}" aria-selected="false"><i class="bi bi-people-fill"></i> Social</a>
          <a class="nav-link" href="{% url 'musicial:songs' %}" aria-selected="true"><i class="bi bi-music-note"></i>Songs</a>
          <a class="nav-link" href="{% url 'musicial:playlist' %}" aria-selected="false"><i class="bi bi-music-note-list"></i> Playlist</a>
          <a class="nav-link" href="{% url 'musicial:logout' %}" aria-selected="false"><i class="bi bi-box-arrow-left"></i> Logout</a>
        </div>
{% endblock %}
      <!--the right part: to upload photos and music-->
      
{% block content_block %}
   
             <form method="POST" action="{% url 'musicial:create-post' %}" enctype="multipart/form-data">
              {% csrf_token %}
            <!-- upload function -->
            <div class="container"> 
              <div class="header">
                
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
                <path d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959M12 12V21M12 12L15 15M12 12L9 15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
              </div>
              <div class="input-group mb-3">
              
              <input type="file" id="image" name='picture' required> 
            </div>
          </div>
            
            <!-- Caption Bar-->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="col-sm-3 text-align" >Caption: </label>
              </div>
              <input id="caption" name="caption" type="text" class="form-control" aria-label="Caption">
            </div>   
            <!--submit button-->
            <button type="submit" class="btn btn-primary">submit</Inp></button>  
          </form>
          {% if status %}
          <h4>Post uploaded successfully!!</h4>
          {% endif %}
{% endblock %}     
