{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>Musicial</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!--External JavaScript-->
		<script src="{% static 'js/javascript.js' %}"></script>
        <!-- Referencebootstrap css -->
        <!-- External CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/homepageStyle.css' %}"/>
		<style>
			body {
				  background-image: url("{% static 'images/Background1.jpg'%}");
				  background-repeat: no-repeat;
				  background-size: cover;
				}
		</style>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title text-center display-4">Invalid login details!!</h4>   
            
                <form>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-lg" onclick="goToSignInPage()">Go Back</button> 
                    <div>   
                <form>
        <div>
    </body>
</html>