{% extends 'musicial/base.html' %}
{% load staticfiles %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/userPlaylistpageStyle.css' %}"/>
{% endblock %}

{% block nav_block %}
        <!-- nav buttons under the Profile-pic -->
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" href="{% url 'musicial:landing' %}" aria-selected="true"><i class="bi bi-house"></i> Home</a>
          <a class="nav-link" href="{% url 'musicial:profile' %}" aria-selected="false"><i class="bi bi-person-badge"></i> Profile</a>
          <a class="nav-link" href="{% url 'musicial:create-post' %}" aria-selected="false"><i class="bi bi-plus-circle"></i> Create</a>
          <a class="nav-link" href="{% url 'musicial:social' %}" aria-selected="false"><i class="bi bi-people-fill"></i> Social</a>
          <a class="nav-link" href="{% url 'musicial:songs' %}" aria-selected="true"><i class="bi bi-music-note"></i>Songs</a>
          <a class="nav-link active" href="{% url 'musicial:playlist' %}" aria-selected="false"><i class="bi bi-music-note-list"></i> Playlist</a>
          <a class="nav-link" href="{% url 'musicial:logout' %}" aria-selected="false"><i class="bi bi-box-arrow-left"></i> Logout</a>
        </div>
{% endblock %}

      <!--right part-->
{% block content_block %}
      <div style="margin-top: 30px; margin-bottom: 50px;">
        <!--nav tabs of "Playlist Creation" and "Playlists"-->
        <ul class="nav nav-tabs nav-justified">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#menu1">Create Playlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Playlist</a>
          </li>       
       </ul>
       <div class="tab-content">
        <div class="tab-pane container active" id="menu1">
          <form method="POST" action="{% url 'musicial:playlist' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="col-sm-3 text-align" >Playlist </label>
              </div>
              <input type="text" class="form-control" placeholder="Playlist name" name="playlist" id="playlist" required>
            </div>
            <!--submit button-->
            <button type="submit" class="btn btn-primary">submit</Inp></button> 
          </form>
          {% if status %}
          {% if status == 'Created' %}
            <h4>Playlist successfully created</h4>
          {% else %}
            <h4>Playlist already exists</h4>
          {% endif %}
          {% endif %}
        </div>
        <div class="tab-pane container" id="menu2">
          <!-- choice of playlist-->
      <div class="d-flex justify-content-center">
        <div class="btn-group col-md-5">
           <!-- button group content here -->
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Playlists
                </button>
                <div class="dropdown-menu col-sm-11 text-center">
                  {% for playlist in playlists %}
                  <button class="dropdown-item playlist" type="button" id="{{ playlist }}" value="{{ playlist }}">{{ playlist }}</button>
                  <div class="dropdown-divider"></div>
                  {% endfor %}
                  </div>
                </div>
      </div>
      <br>

      <!--Playlist songs-->
      <ul class="list-group" id="songs-list">
        
        
        
      </ul>
      
      
  </div>
        </div>
       </div>
      
{% endblock %}

{% block script_block %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/playlist.js' %}"></script>
{% endblock %}
