{% extends 'musicial/base.html' %}
{% load staticfiles %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/userprofilepageStyle.css' %}"/>
{% endblock %}

{% block nav_block %}
        <!-- nav buttons under the Profile-pic -->
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" href="{% url 'musicial:landing' %}" aria-selected="true"><i class="bi bi-house"></i> Home</a>
          <a class="nav-link active" href="{% url 'musicial:profile' %}" aria-selected="false"><i class="bi bi-person-badge"></i> Profile</a>
          <a class="nav-link" href="{% url 'musicial:create-post' %}" aria-selected="false"><i class="bi bi-plus-circle"></i> Create</a>
          <a class="nav-link" href="{% url 'musicial:social' %}" aria-selected="false"><i class="bi bi-people-fill"></i> Social</a>
          <a class="nav-link" href="{% url 'musicial:songs' %}" aria-selected="true"><i class="bi bi-music-note"></i>Songs</a>
          <a class="nav-link" href="{% url 'musicial:playlist' %}" aria-selected="false"><i class="bi bi-music-note-list"></i> Playlist</a>
          <a class="nav-link" href="{% url 'musicial:logout' %}" aria-selected="false"><i class="bi bi-box-arrow-left"></i> Logout</a>
        </div>
{% endblock %}

{% block content_block %}
    <img src="{{ user.userprofile.picture.url }}" alt="img-fluid Profile Picture" class="Profile-pic rounded-circle mx-auto d-block">

    <div class="d-flex justify-content-center">
        <h4 class="text-dark">{{ user.username }}</h4>
    </div>

    <div class="d-flex justify-content-between mb-3">
        <h4 class="text-dark follow">{{ num_friends }} friends</h4>
    </div>

    <hr>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% for post in posts %}
          {% if forloop.counter0 == 0 %}
          <div class="carousel-item active">
            <div class="card Post-card">
              <div class="row">
                
                    <div class="col-md-6">
                      <div class="card-header">
                        <p class="card-text"><small class="text-muted">{{ post.time }}</small></p>
                      </div>
                      
                      <img class="card-img-top" src="{{ post.picture.url }}" alt="{{ forloop.counter0 }} slide">
                      
                      <p class="card-text">{{ post.caption }} </p>
                    
                      <div class="card-footer">
                      <p id="likes{{ post.id }}">{{ post.likes }}</p>
                    </div>
                    </div>
                  
                      <div class="col-md-6">
                          <div class="card-body">
                          <p id="comments{{ post.id }}">{{ post.comments }}</p>
                        </div>
                      </div>
                    
                  </div>
                  </div>
          </div>
          {% else %}
          <div class="carousel-item">
            <div class="card Post-card">
              <div class="row">
                
                    <div class="col-md-6">
                      <div class="card-header">
                        <p class="card-text"><small class="text-muted">{{ post.time }}</small></p>
                      </div>
                      
                      <img class="card-img-top" src="{{ post.picture.url }}" alt="{{ forloop.counter0 }} slide">
                      
                      <p class="card-text">{{ post.caption }} </p>
                    
                      <div class="card-footer">
                      <p id="likes{{ post.id }}">{{ post.likes }}</p>
                    </div>
                    </div>
                  
                      <div class="col-md-6">
                          <div class="card-body">
                          <p id="comments{{ post.id }}">{{ post.comments }}</p>
                        </div>
                      </div>
                    
                  </div>
                  </div>
            
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  {% endblock %}
