{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>socialPage</title>
  <!-- Bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- External CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/usersocialpageStyle.css' %}"/>
</head>
<body>
    
  <div class="container-fluid">
    <div class="row">
      <!-- stuff in the first column gose here -->
      <div class="col-md-3 col-fixed border">
        <img src="https://via.placeholder.com/200" alt="img-fluid Profile Picture" class="Profile-pic rounded-circle mx-auto d-block">
        <p class="fw-bold">
            {% if user.is_authenticated %}
            {{ user.username }}
            {% else %}
            hey there partner!
            {% endif %}
        </p>     
        <!-- nav buttons under the Profile-pic -->
         <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" href="landing" aria-selected="false">Home</a>
          <a class="nav-link" href="profile" aria-selected="false">Profile</a>
          <a class="nav-link" href="create-post" aria-selected="false">Create</a>
          <a class="nav-link active" href="social" aria-selected="true">Social</a>
          <a class="nav-link" href="playlist" aria-selected="false">Playlist</a>
          <a class="nav-link" href="logout" aria-selected="false">Logout</a>
        </div> 
      </div>

      <!--right part-->
      <div class="col-md-9 col-scroll">
        <!--nav tabs of "Friend Requests" and "Friend List"-->
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a class="nav-link active" href="#">Friend Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Friends</a>
            </li>       
         </ul>
     

      <!--input group pf friend requests-->

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username1">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-primary" type="button ">Accept</button>
          <button class="btn btn-danger" type="button">Reject</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username2">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-primary" type="button ">Accept</button>
          <button class="btn btn-danger" type="button">Reject</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username3">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-primary" type="button ">Accept</button>
          <button class="btn btn-danger" type="button">Reject</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username4">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-primary" type="button ">Accept</button>
          <button class="btn btn-danger" type="button">Reject</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username5">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-primary" type="button ">Accept</button>
          <button class="btn btn-danger" type="button">Reject</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username6">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-primary" type="button ">Accept</button>
          <button class="btn btn-danger" type="button">Reject</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username7">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-primary" type="button ">Accept</button>
          <button class="btn btn-danger" type="button">Reject</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username8">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-primary" type="button ">Accept</button>
          <button class="btn btn-danger" type="button">Reject</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username9">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-primary" type="button ">Accept</button>
          <button class="btn btn-danger" type="button">Reject</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="username10">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-primary" type="button ">Accept</button>
          <button class="btn btn-danger" type="button">Reject</button>
        </div>
      </div>
      
    </div>

      </div>
  </div>
  </div>     
</body>
</html>