{% extends 'musicial/base.html' %}
{% load staticfiles %}

{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/songPageStyle.css' %}"/>
  {% endblock %}

{% block nav_block %}
        <!-- nav buttons under the Profile-pic -->
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" href="{% url 'musicial:landing' %}" aria-selected="true"><i class="bi bi-house"></i> Home</a>
          <a class="nav-link" href="{% url 'musicial:profile' %}" aria-selected="false"><i class="bi bi-person-badge"></i> Profile</a>
          <a class="nav-link" href="{% url 'musicial:create-post' %}" aria-selected="false"><i class="bi bi-plus-circle"></i> Create</a>
          <a class="nav-link" href="{% url 'musicial:social' %}" aria-selected="false"><i class="bi bi-people-fill"></i> Social</a>
          <a class="nav-link active" href="{% url 'musicial:songs' %}" aria-selected="true"><i class="bi bi-music-note"></i>Songs</a>
          <a class="nav-link" href="{% url 'musicial:playlist' %}" aria-selected="false"><i class="bi bi-music-note-list"></i> Playlist</a>
          <a class="nav-link" href="{% url 'musicial:logout' %}" aria-selected="false"><i class="bi bi-box-arrow-left"></i> Logout</a>
        </div>
{% endblock %}
            <!-- stuff in the second column -->
                {% block content_block %}
                    
                <form class="form-inline" method="POST" action="{% url 'musicial:songs' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="radio1" value="track" name="filter" checked>
                            <label class="form-check-label" for="radio1">track</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="radio2" name="filter" value="genre">
                            <label class="form-check-label" for="radio2">genre</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="radio3" name="filter" value="artist">
                            <label class="form-check-label" for="radio3">artist</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="radio4" name="filter" value="year">
                            <label class="form-check-label" for="radio4">year</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="song-search" type="text" id="song-search" name="song-query" placeholder="Search">
                    </div>
                    <button type="Search" class="btn btn-primary mb-2 btn-sm">Search</button>
                </form>
                <br/>
                {% if data_present %}
                    {% for song in songs %}
                        {% with y=forloop.counter0|add:1 %}
                        {% if forloop.counter0|divisibleby:"3" %}
                            <div class="row">
                        {% endif %}
                            <div class="col-md-4">
                                <div class="card" style="overflow: hidden;">
                                    <img class="card-img-top" src="{{ song.image }}" alt="Card image cap" id="song_image{{ song.id }}">
                                    <div class="card-body">
                                    <h5 class="card-title" id="song_name{{ song.id }}">{{ song.name }}</h5>
                                    <p class="card-text" id="song_artist{{ song.id }}">{{ song.artists }}</p>
                                    <audio controls><source src="{{ song.preview_url }}" type="audio/mpeg" id="song_url{{ song.id }}"></audio>
                                    
                                        <select name="playlist" id="playlist{{ song.id }}">
                                            {% for playlist in playlists %}
                                            <option value="{{ playlist }}">{{ playlist }}</option>
                                            {% endfor %}
                                          </select>
                                    <button class="btn btn-primary rounded-circle add-song" value="{{ song.id }}"><i class="bi bi-plus"></i></button>
                                    
                                    </div>
                                </div>
                            </div>
                        {% if forloop.counter0 > 0 %}
                        {% if y|divisibleby:"3" %}
                            </div>
                        {% endif %}
                        {% endif %}
                        {% endwith %}
                    {% endfor %}
                {% endif %}
        
       {% endblock %}
  {% block script_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/songs.js' %}"></script>
  {% endblock %}
