{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog Page</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- External CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/userhomepageStyle.css' %}"/>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- stuff in the first column gose here -->
      <div class="col-md-3 col-fixed border">
        <img src="{{ user.userprofile.picture.url }}" alt="img-fluid Profile Picture" class="Profile-pic rounded-circle mx-auto d-block">
        <p class="fw-bold">
          {% if user.is_authenticated %}
          {{ user.username }}
          {% else %}
          hey there partner!
          {% endif %}
        </p>
        <!-- nav buttons under the Profile-pic -->
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" href="landing" aria-selected="true">Home</a>
          <a class="nav-link" href="profile" aria-selected="false">Profile</a>
          <a class="nav-link" href="create-post" aria-selected="false">Create</a>
          <a class="nav-link" href="social" aria-selected="false">Social</a>
          <a class="nav-link" href="playlist" aria-selected="false">Playlist</a>
          <a class="nav-link" href="logout" aria-selected="false">Logout</a>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
        </div>
      </div>
        
      <!-- stuff in the second column goes here -->
      <div class="col-md-9 col-scroll">
        <!-- search bar function -->
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
        <!-- Psot function, put all the post and caption in a Card -->
        <div class="card Post-card">
          <!-- the image here should be Responsive to adapt the card size -->
          <img src="https://via.placeholder.com/200" class="img-fluid card-img" alt="Responsive image Post-img">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
            <div class="d-flex flex-row-reverse">
              <!-- p-2 is to add padding to the bottons -->
              <div class="p-2"> 
                <button class="btn btn-outline-primary"><i class="bi bi-hand-thumbs-up"></i> Like</button>
                <button class="btn btn-outline-primary"><i class="bi bi-chat-dots"></i> Comment</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card Post-card">
          <!-- the image here should be Responsive to adapt the card size -->
          <img src="https://via.placeholder.com/200" class="img-fluid card-img" alt="Responsive image Post-img">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
            <div class="d-flex flex-row-reverse">
              <!-- p-2 is to add padding to the bottons -->
              <div class="p-2"> 
                <button class="btn btn-outline-primary"><i class="bi bi-hand-thumbs-up"></i> Like</button>
                <button class="btn btn-outline-primary"><i class="bi bi-chat-dots"></i> Comment</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card Post-card">
          <!-- the image here should be Responsive to adapt the card size -->
          <img src="https://via.placeholder.com/200" class="img-fluid card-img" alt="Responsive image Post-img">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
            <div class="d-flex flex-row-reverse">
              <!-- p-2 is to add padding to the bottons -->
              <div class="p-2"> 
                <button class="btn btn-outline-primary"><i class="bi bi-hand-thumbs-up"></i> Like</button>
                <button class="btn btn-outline-primary"><i class="bi bi-chat-dots"></i> Comment</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card Post-card">
          <!-- the image here should be Responsive to adapt the card size -->
          <img src="https://via.placeholder.com/200" class="img-fluid card-img" alt="Responsive image Post-img">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
            <div class="d-flex flex-row-reverse">
              <!-- p-2 is to add padding to the bottons -->
              <div class="p-2"> 
                <button class="btn btn-outline-primary"><i class="bi bi-hand-thumbs-up"></i> Like</button>
                <button class="btn btn-outline-primary"><i class="bi bi-chat-dots"></i> Comment</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
